version: "3.9"

services:

  # Persistence (postgresql)
  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_PASSWORD: diploma2022
      POSTGRES_USER: postgres
    ports:
      - "5432"
    volumes:
      - ./data:/var/lib/postgresql/data

  # Redis instance
  redis:
    image: docker.io/redis:7-alpine
    restart: always
    ports:
      - "6379"

  # Application
  application:
    image: docker.io/indeterminatus/oevsv-sota-diploma:1.11.0-SNAPSHOT
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "8080:8080"
    depends_on:
      - db
      - redis
    volumes:
      - ./logs:/logs
