#Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties
.flattened-pom.xml

# Eclipse
.project
.classpath
.settings/
bin/

# IntelliJ
.idea
*.ipr
*.iml
*.iws

# NetBeans
nb-configuration.xml

# Visual Studio Code
.vscode
.factorypath

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Local environment
.env
/src/main/doc/adr-tools-3.0.0/
/src/test/resources/temporary/*.pdf
/src/main/resources/pdf/images/*.psd
/src/main/docker/oevsv-sota-diploma/data/*
/src/main/docker/oevsv-sota-diploma/logs/*
/src/main/assets/*.psd
